<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="panel panel-heading text-center">
        <h2>Sign up</h2>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-lg-12">
            <div class="text-center" id="login-form" style="display: block;">
              <div class="form-group">
                <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                <%= f.error_notification %>
                  <%= f.input :email, placeholder: "Email", required: true, autofocus: true, label: false %>
                  <%= f.input :user_name, placeholder: "User Name", required: true, label: false %>
                  <%= f.input :password, placeholder: "Password", required: true, label: false %>
                  <%= f.input :password_confirmation, placeholder: "Confirm Password", required: true, label: false %>
                  <h4>Add an avatar</h4>
                  <div class="input user_remember_me label">
                    <%= f.file_field :avatar %>

                  </div>
                </div>
              </div>
                <div class="form-actions text-center">
                  <%= f.button :submit, "Sign up" %>
                </div>
              <% end %>
              <div class="form-group">
                  <div class="row">
                     <div class="col-lg-12">
                        <div class="text-center">
                          <%= render "devise/shared/links" %>
                        </div>
                      </div>
                    </div>
                  </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
