<div class="modal-dialog">
<div class="modal-content">
  <div class="modal-header">
  </div>
  <div class="modal-body">

    <div>
      <%= javascript_pack_tag 'application' %>
        <!-- <div class="container-fluid"> -->
          <div class="row">
            <div class="post-image post-options col-md-6 col-md-push">
              <a><%= @post.user.user_name %></a>
              <div class="post-image">
                <%= image_tag @post.image, :width => "650", :height => "auto", :crop => "scale" %>
                <%= div_for @post do %>
                <%=  render partial: "likes/button", locals: {post: @post} %>
                <% end  %>
              </div>
            </div>
            <%= react_component("application")%>
            <div class="col-md-6 col-md-pull" id="react">
              <%= content_tag :div,
              id: "comments_data",
              content:  post_comments_path(@post),
              current_user: current_user.user_name do %>
              <% end %>
            </div>
          <!-- </div> -->
        </div>

        <!-- , props: {content: post_comments_path(@post), data: @post.comments.to_json}) -->

    </div>
      <div class="comment-form">
        <% if @post.user.id == current_user.id %>
        <%= link_to "Edit", edit_post_path(@post) %>
        <% else %>
        <% end %>
        <div>
        <%= link_to "Back to Posts", posts_path %>
        <div>
      </div>

    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    <button type="button" class="btn btn-primary">Save changes</button>
  </div>
</div>
</div>
