
<div>
  <a><%= @post.user.user_name %></a>
    <div>
      <%= image_tag @post.image, width: 600 %>
    </div>
    <%= div_for @post do %>
    <%=  render partial: "likes/button", locals: {post: @post} %>
    <% end  %>
    <%= content_tag :div,
    id: "comments_data",
    content:  post_comments_path(@post),
    current_user: current_user.user_name do %>
    <% end %>
    <div class="comments-raw">
    </div>
    <%= react_component('application')%>

<!-- , props: {content: post_comments_path(@post), data: @post.comments.to_json}) -->
</div>
  <div class="comment-form">
    <% if @post.user.id == current_user.id %>
    <%= link_to "Edit", edit_post_path(@post) %>
    <% else %>
    <% end %>
    <div>
    <%= link_to "Back to Posts", posts_path %>
    <div>
  </div>

</div>
