<!DOCTYPE html>

<html>
  <head>
    <title>Instagram</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application'%>
    <%= javascript_pack_tag 'application' %>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <a class="navbar-brand" href="/"><%= fa_icon "camera-retro"  %> | ICON</a>
  <!-- <div class="search">
    <ul class="nav navbar-nav nav-search">
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon1"><%= fa_icon "search" %></span>
        <li class="nav-item active">
          <input type="text" class="form-control" placeholder="Search.." aria-describedby="basic-addon1">
        </li>
      </div>
    </ul>
  </div> -->
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <% if user_signed_in? %>
    <ul class="nav navbar-nav navbar-right">
      <li class="nav-item">
        <a class="nav-link nav-icon" href="#"><%= fa_icon "compass"  %></a>
      </li>
      <li class="nav-item">
        <a class="nav-link nav-icon" href="#"><%= fa_icon "heart"  %></a>
      </li>

      <li class="dropdown">
        <a class="dropdown-toggle"  data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
          <%=image_tag current_user.avatar, size: "50x50"%><span class="current-user-nav"></span>
        </a>
          <ul class="dropdown-menu">
                <li><a role="dropdown-item" href="#"><%= link_to('Edit registration', edit_user_registration_path) %></a></li>
                <li><a role="dropdown-item"  href="#">Something else here</a></li>
                <li><a role="dropdown-item"  href="#"><%= link_to('Logout', destroy_user_session_path, method: :delete) %></a></li>
                                                      <% end %>
          </ul>
        </li>
        </div>
    </ul>
</nav>
<body>
  <% if(@post && @comments) %>
    <%= content_tag :div,
      id: "comments_data",
      content:  post_comments_path(@post),
      current_user: current_user.user_name do %>
    <% end %>
  <% end %>
<% if notice %>
  <p class="notice flex-container"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert flex-container"><%= alert %></p>
<% end %>

  <%= yield %>
</body>
</html>
