<!DOCTYPE html>
<html>
  <head>
    <title>Instagram</title>
    <%= csrf_meta_tags %>
    <%= javascript_pack_tag 'hello_react' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <a class="navbar-brand" href="/"><%= fa_icon "camera-retro"  %> | ICON</a>
  <div class="search">
    <ul class="nav navbar-nav nav-search">
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon1"><%= fa_icon "search" %></span>
        <li class="nav-item active">
          <input type="text" class="form-control" placeholder="Search.." aria-describedby="basic-addon1">
        </li>
      </div>
    </ul>
  </div>
    <ul class="nav navbar-nav navbar-right">

      <li class="nav-item">
        <a class="nav-link nav-icon" href="#"><%= fa_icon "compass"  %></a>
      </li>
      <li class="nav-item">
        <a class="nav-link nav-icon" href="#"><%= fa_icon "heart"  %></a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled nav-icon" href="#"><%= fa_icon "user"  %></a>
      </li>
      <li id='input'>

      </li>

    </ul>
</nav>

  <body>
    <%= yield %>
  </body>

</html>
